<section id="team"  class="padd-section text-center get-about">

    <div class="container" id="get-about" data-aos="fade-up">
      <div class="section-title text-center">
        <h2>Creator</h2>
      </div>

      <div class="row">

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="team-block bottom">
            <img src="assets/img/team/1.jpg" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/ronieldegozo04"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://github.com/ronieldegozo"><i class="fa fa-github"></i></a></li>
                <li><a href="https://ronieldegozo.netlify.app/"><i class="fa fa-briefcase"></i></a></li>
                <li><a href="mailto: ronieldegozo@gmail.com"><i class="fa fa-envelope"></i></a></li>
                <li><a href="https://www.linkedin.com/in/mc-roniel-de-gozo-6466711b8/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>Developer</span>
              <h4>Mc Roniel De Gozo</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
          <div class="team-block bottom">
            <img src="assets/img/team/2.jpg" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/rogine.grace"><i class="fa fa-facebook"></i></a></li>
                <li><a href="mailto: 17rogine@gmail.com"><i class="fa fa-envelope"></i></a></li>
                <li><a href="https://www.linkedin.com/in/rogine-grace-laurito-49964920a/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>Human Resource</span>
              <h4>Rogine Grace Laurito</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
          <div class="team-block bottom">
            <img src="assets/img/team/1.jpg" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>Manager</span>
              <h4>Reniella Laurito</h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
          <div class="team-block bottom">
            <img src="assets/img/team/2.jpg" class="img-responsive" alt="img">
            <div class="team-content">
              <ul class="list-unstyled">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <span>CEO</span>
              <h4>Prince Daniel</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>