<form class="contact1-form validate-form" method="POST" action="send">

    <div class="card mb-5 mt-5" id="get-contact"  data-aos="fade-up" data-aos-delay="100" >
        <div class="card-header text-center"><h2>Contact Us</h2></div>

            <div class="card-body">

                <div class="form-group">
                    <label for="name">Name</label>
                    <div class="wrap-input1 validate-input" data-validate = "Name is required">
                        <input class="form-control" type="text" name="name" placeholder="Enter Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Email</label>
                    <div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <input class="form-control" type="text" name="email" placeholder="Enter Email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Phone Number</label>
                    <div class="wrap-input1 validate-input" data-validate = "Subject is required">
                        <input class="form-control" type="number" name="phone" placeholder="Enter Phone Number" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Suggestion</label>
                    <div class="wrap-input1 validate-input" data-validate = "Message is required">
                        <textarea class="form-control" name="message" placeholder="Suggestion" rows="6" cols="50" required></textarea>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Send Mail</button>

            </div>
    </div>
    

</form>
