  <%- include('./includes/head') %>
  <link rel="stylesheet" href="/css/dashboard.css">

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3>Welcome</h3>
                <span><%= user.nickname %></span>
            </div>
            <ul class="components text-center">
              <li class="nav-item">
                  <a class="nav-link" href="/users/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                        <h4></h4>
                </div>
            </nav>
                <!--  Content starts here -->
            
          </div>
 
  <%- include('./includes/footer') %>
  <script src='/js/dashboard.js'></script>
